#login-title {
	margin-bottom: 30px;
	color: white;
}

#login-button {
	margin-top: 30px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

	
.login-box {
	padding: 100px 0px;
	position:absolute;
	z-index: 1;
	width: 100%;
	margin: auto;
}


.login-page-wrapper {
	position: relative;
	width: 100%;
	height: 120vh;
}

.login-background {
	width: 100%;
	height: 120vh;
	position: absolute;
	z-index: -2;
}

.carousel-overlay {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	z-index: -1;
}

.carousel-item  {
	width: auto;
	height: 120vh;
}

.carousel-item img {
	object-fit: cover;
}

.main {
	padding-bottom: 0px;
}